#slot_grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

#day_grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.slot {
	height: 1em;
	width: 1em;
	display: inline-block;
}

.free {
	background-color: lightblue;
}

.reserved {
	background-color: maroon;
}

.reserving {
	background-color: royalblue;
}

.dereserving {
	background-color: lightslategray;
}

.newly_reserved {
	background-color: salmon;
}

.res_failed {
	background-color: black;
}
