{% extends "layout.html" %}
{% block content %}
<div id="slot_grid">
	{% for date in dates %}
		<div class="date">{{ date }}</div>
	{% endfor %}
	{% for date in dates %}
		<div id="day_grid">
			<div>&nbsp;</div> <!-- Placeholder for the time column -->
			{% for machine in machines %}
				<div class="machine">{{ machine }}</div>
			{% endfor %}
			{% for time in times %}
				<div class="time">{{ time }}</div>
				{% for machine in machines %}
					<div id="{{ machine+delim+date+delim+time|string }}" onclick="slot_onclick(this.id);" class="slot free"></div>
				{% endfor %}
			{% endfor %}
		</div>
	{% endfor %}
</div>
<div>
	<select id="stair">
		<option selected disabled value="">Stair</option>
		{% for stair in stairs %}
			<option value="{{ stair|string }}">{{ stair|string }}</option>
		{% endfor %}
	</select>
	<select id="apartment">
		<option selected disabled value="">Apartment</option>
		{% for apartment in apartments %}
			<option value="{{ apartment|int }}">{{ apartment|string }}</option>
		{% endfor %}
	</select>
</div>
<div>
	<input type="text" id="passcode" placeholder="Passcode">
</div>
<div>
	<input type="text" id="cancellation_code" placeholder="Cancellation code">
</div>
<div>(entering the same cancellation code allows you to cancel reservations)</div>
<div class="row">
	<button onclick="submit_changes();">Submit</button>
</div>
<script>
	var user_res = [];
	var user_cancel = [];

	let reservations = JSON.parse( {{ reservations|tojson|safe }} );
	for (let reservation of reservations) {
		let slot = document.getElementById(reservation.machine+'{{ delim|string }}'+reservation.day+'.'+reservation.month+'.'+'{{ delim|string }}'+reservation.hour);
		if (slot != null) {
			slot.classList.replace('free', 'reserved');
			let slot_holder = document.createElement('div');
			slot_holder.classList.add('slot_holder');
			slot_holder.innerText = reservation.slot_holder;
			slot.appendChild(slot_holder);
		}
	}
</script>
{% endblock content %}
